html
    font-size: 1px
    scroll-behavior: smooth
body
    margin: 0
    scroll-behavior: smooth
ul,
li,
ol
    list-style: none
.wrapper
    max-width: 290rem
    margin: 0 auto
    position: relative
    @media screen and (min-width: 375px)
        max-width: 340rem
    @media screen and (min-width: 425px)
        max-width: 400rem
    @media screen and (min-width: 570px)
        max-width: 480rem
    @media screen and (min-width: 768px)
        max-width: 700rem
    @media screen and (min-width: 1000px)
        max-width: 950rem
    @media screen and (min-width: 1360px)
        max-width: 1250rem
.container
    padding-top: 25rem
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 170rem
header
    background: linear-gradient(to bottom,rgba(244,247,249,0) 65%,#f4f7f9 93%,#f5f8fa 100%),url(../img/header-background.jpg), no-repeat
    background-size: cover
    background-position: 49% 0
    padding-bottom: 30rem
    @media screen and (min-width: 1360px)
        background-position: 0%
ul li a
    font-size: 14rem
    text-transform: uppercase
    text-decoration: none
    padding: 15rem 30rem
.nav
    position: relative

    //BURGER

.burger
    position: absolute
    width: 50rem
    height: 50rem
    cursor: pointer
    right: 0
    @media screen and (min-width: 1000px)
        display: none
.burger span,
.burger:before,
.burger:after
    content: ""
    position: absolute
    width: 50rem
    height: 5rem
    background-color: #fff
    border-radius: 5rem
    top: 50%
    transition: box-shadow .25s ease-in-out
.burger span
    transform: translateY(-50%)

.burger:before
    top: 10rem

.burger:after
    top: 35rem

.burger-open span
    transition: .5s
    transform: rotate(-45deg) translateX(0rem)

.burger-open:before
    transform: scale(0)

.burger-open:after
    transition: .5s
    transform: rotate(45deg) translateX(-8rem) translateY(-7rem)

  
.menu 
    display: none
    position: absolute
    right: 0
    top: 50rem
    margin: 0
    padding-left: 0
    list-style: none
    background-color: #0b2daa
    overflow: hidden
    z-index: 1
    @media screen and (min-width: 1000px)
        display: flex
        background-color: transparent
        position: static
        column-gap: 35rem
        li+li
            border: none
        a
            color: #fff
            padding: 0
        a:hover
            transition: .5s
            color: #ffb700

.menu li + li 
    border-top: 1rem solid #fff

.menu a 
    width: 100%
    text-align: center
    display: block
    padding: 20rem 107rem
    text-decoration: none
    color: #fff
    font-family: "Rubik"


.active-burger 
    display: block


    //BURGER


h1
    font-size: 60rem
    letter-spacing: 1rem
    line-height: 90rem
    text-transform: uppercase
    color: #ffffff
    font-weight: 400
    font-family: "Rubik"
    position: relative
    text-align: center
    // position: relative
    margin: 0 0 20rem 0
    @media screen and (min-width: 425px)
        font-size: 72rem
h1:before
    @media screen and (min-width: 768px)
        content: ""
        display: block
        position: absolute
        top: -50rem
        left: 50%
        width: 50%
        height: 50%
        border-top: 1rem solid #fff
        border-left: 1rem solid #fff
        border-right: 1rem solid #fff
        opacity: .5
        transform: translate(-50%)
    @media screen and (min-width: 1000px)
        width: 40%
    @media screen and (min-width: 1360px)
        width: 30%
h1:after
    @media screen and (min-width: 768px)
        content: ""
        display: block
        position: absolute
        bottom: -180rem
        left: 50%
        width: 50%
        height: 50%
        border-bottom: 0.26rem solid #fff
        border-left: 0.26rem solid #fff
        border-right: 0.26rem solid #fff
        opacity: .5
        transform: translate(-50%)
    @media screen and (min-width: 1000px)
        width: 40%
    @media screen and (min-width: 1360px)
        width: 30%
p
    font-size: 16rem
    line-height: 24rem
    color: #ffffff
    font-weight: 400
    font-style: normal
    font-family: "Rubik"
    text-align: center
    margin: 0
.headerButton
    font-size: 16rem
    letter-spacing: 1rem
    display: inline-block
    text-decoration: none
    text-transform: uppercase
    color: #fdfcfb
    background-color: #ffb700
    font-weight: 400
    // position: relative
    padding: 10rem 25rem
    border-radius: 25rem
    font-family: "Rubik"
    text-align: center
    border: none
    transition: .5s
    margin-top: 25rem
    cursor: pointer 
    animation: headerButton 5s 0s both infinite
.headerButton:hover
    animation: none
    background-color: #b98d1e
@keyframes headerButton
    0%, 20% 
        transform: translate3d(0, 0, 0)
    
    10%, 14%, 18%, 2%, 6% 
        transform: translate3d(-7rem, 0, 0)
    
    12%, 16%, 4%, 8% 
        transform: translate3d(7rem, 0, 0)

// .headerButton:before
//     display: none
//     content: ""
//     position: absolute
//     max-width: 55%
//     width: 80%
//     height: 50%
//     border: 4px solid #fff
//     opacity: 0.5
//     top: -75%
//     left: 24%
//     border-top: none
//     @media screen and (min-width: 570px)
//         content: ""
//         position: absolute
//         display: block
//         max-width: 250%
//         width: 238%
//         height: 130%
//         border: 4px solid #fff
//         opacity: .5
//         top: 125%
//         left: -70%
//         border-top: none
//     @media screen and (min-width: 768px)
//         max-width: 60%
//         width: 80%
//         height: 50%
//         top: -55%
//         left: 20%
//     @media screen and (min-width: 1000px)
//         width: 40%
//         left: 30%
//     @media screen and (min-width: 1360px)
//         width: 40%
//         left: 30%   
.top
    text-align: center
    padding-bottom: 200rem
.od
    font-size: 36rem
    letter-spacing: 1rem
    line-height: 44rem
    text-transform: uppercase
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    font-style: normal
.dr
    font-size: 16rem
    line-height: 24rem
    color: #333333
    font-weight: 400
    font-style: italic
    font-family: "Rubik"
    text-align: center
    margin: 10rem  auto
.slider
    display: flex
    justify-content: center
.slider-bg:before
    content: ""
    position: absolute
    width: 20rem
    height: 25rem
    background-image: url(../img/slider.svg)
.scroll
    padding-top: 150rem
.p
    font-size: 36rem
    letter-spacing: 1px
    line-height: 40rem
    text-transform: uppercase
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    font-style: normal
    text-align: left
#center
    text-align: center
.card
    min-width: 270rem
    text-align: center
    border: none
    margin-bottom: 50rem
    padding-bottom: 20rem
    transition: .5s
    background-color: #f5f8fa
.card:hover
    transform: scale(1.01)
    box-shadow: 0 0 50rem #c8c9d3
    transition: 1s
    background-color: #fff
.card-secondary:hover
    transform: scale(1.01)
    box-shadow: 0 0 50rem #c8c9d3
    transition: 1s
    background-color: #fff
.fig img
    padding-top: 20rem
.topTitlel
    font-size: 18rem
    line-height: 26rem
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    font-style: normal
    padding: 10rem 0
.topTitleSec
    font-size: 18rem
    line-height: 26rem
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    text-align: left
    padding: 10rem 0
.styu 
    min-height: 95rem
    width: 220rem
    font-size: 13rem
    color: #999999
    font-weight: 400
    font-family: "Rubik"
    text-align: left
    margin-left: 20rem
.price
    font-size: 24rem
    line-height: 44rem
    color: #0099ff
    font-weight: 400
    font-family: "Rubik"
    text-align: center
.currency
    font-size: 24rem
    line-height: 44rem
    color: #0099ff
    font-weight: 400
    font-family: "Rubik"
    text-align: center
.ppp
    display: inline-block
    font-size: 16rem
    line-height: 22rem
    color: #555555
    font-weight: 400
    font-style: italic
    font-family: "Rubik"
    margin: 0
    text-align: left
.pp
    font-size: 36rem
    letter-spacing: 1px
    line-height: 40rem
    text-transform: uppercase
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    font-style: normal
    text-align: left
    padding-bottom: 10rem
.other-card
    margin-top: 80rem
    @media screen and (min-width: 1360px)
        margin-top: 0
        display: flex
        column-gap: 50rem
.oba
    @media screen and (min-width: 425px)
        max-width: 350rem
        margin: 0 auto
    @media screen and (min-width: 1360px)
        max-width: 100%
        margin: 0 auto
        display: flex
        .oba-flex
            display: flex
            column-gap: 50rem
.oboe
    @media screen and (min-width: 1360px)
        display: flex
        align-items: center
        column-gap: 30rem
.h
    width: 228rem
    margin: 0
    font-size: 13rem
    line-height: 19rem
    color: #bbbbbb
    font-weight: 400
    font-family: "Rubik"
#toph
    padding-top: 15rem
.help
    display: flex
    justify-content: center
    margin-bottom: 60rem
    column-gap: 10rem
.lastTitle
    font-size: 12rem
    letter-spacing: 0rem
    font-style: normal
    text-decoration: none
    text-transform: uppercase
    color: #0099ff
    font-weight: 400
    font-family: "Rubik"
    text-align: center
.lastTitle:hover
    text-decoration: underline


    //flag
.best-off:before
    content: ""
    position: absolute
    width: 0
    height: 0
    left: 0.2rem
    border-top: 75rem solid #26cb15
    border-right: 75rem solid rgba(0,0,0,0)
.best-off:after 
    content: ""
    position: absolute
    width: 30rem
    height: 30rem
    left: 2rem
    background-image: url(../img/star.svg)
    background-size: cover
    animation: star 3s infinite

.best-offer:before
    content: ""
    z-index: 1
    position: absolute
    width: 0
    height: 0
    // left: 0.2rem
    border-top: 75rem solid #26cb15
    border-right: 75rem solid rgba(0,0,0,0)
.best-offer:after 
    content: ""
    z-index: 1
    position: absolute
    width: 30rem
    height: 30rem
    // left: 2rem
    background-image: url(../img/star.svg)
    background-size: cover
    animation: star 3s infinite
    //flag

    //bicycle

.bicycle:before
    content: ""
    position: absolute
    width: 90rem
    height: 204rem
    background-color: #09f
    @media screen and (min-width: 375px)
        height: 239rem
    @media screen and (min-width: 425px)
        height: 246rem
    @media screen and (min-width: 1000px)
        height: 247rem
    @media screen and (min-width: 1360px)
        height: 191rem
.bicycle:after
    content: ""
    top: 60rem
    width: 80rem
    height: 80rem
    left: 5rem
    position: absolute
    background-image: url(../img/bike.svg)
    background-size: cover
    @media screen and (min-width: 375px)
        top: 75rem
    @media screen and (min-width: 1360px)
        top: 60rem
.bicycle
    position: relative
    //bicycle
.hr
    border-top: 1px solid #dfe3e6
    margin: 25rem 0 80rem 0
    width: 100%
    display: block
.imgbg
    background-image: url(../img/island-nopeople.png)
    margin: auto
    width: 100%
    min-height: 230rem
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    @media screen and (min-width: 768px)
        min-height: 300rem
    @media screen and (min-width: 1360px)
        background-size: cover
.first-card
    max-width: 400rem
h2
    font-size: 25rem
    line-height: 42px
    text-transform: uppercase
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    margin-top: 30rem
    @media screen and (min-width: 4225px)
        font-size: 36rem
main
    background-color: #f5f8fa
    padding-bottom: 10rem
.main-title-all
    font-size: 16px
    margin: 0
    display: inline-block
    text-align: left
    color: #333333
    font-weight: 400
    font-style: italic
    font-family: "Rubik"
#trap
    color: #0099ff
    padding: 10rem 35rem
    background-color: transparent
    border: 1px solid #0099ff
    text-decoration: none
#trap:hover
    background-color: #dddbd6
.button
    display: block
    @media screen and (min-width: 425px)
        display: flex
        column-gap: 25rem
.italic
    font-style: italic
    @media screen and (min-width: 768px)
        width: 528rem
        margin: 0 auto
.mini-card-silver
    background-color: #edf1f4
    min-width: 225rem
.groshi
    font-size: 24rem
    line-height: 44rem
    color: #0099ff
    font-weight: 400
    text-transform: lowercase
    font-family: "Rubik"
    text-align: center
    padding: 20rem 0 10rem 0
    @media screen and (min-width: 1360px)
        margin-top: 0
.sup-title-grosh
    width: 165px
    font-size: 13rem
    margin: 0 auto
    line-height: 20px
    color: #999999
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    padding-bottom: 20rem
.stel
    font-size: 29rem
    line-height: 42rem
    text-transform: uppercase
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    @media screen and (min-width: 425px)
        font-size: 36rem
    @media screen and (min-width: 1360px)
        margin-top: 0
.xbor
    @media screen and (min-width: 1360px)
        display: flex
        padding-top: 50rem
        column-gap: 60rem

canvas 
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

.niam
    animation-duration: 2s 
    animation-name: slidein 
@keyframes slidein 
    0% 
        transform: scale(20)
    75% 
        transform: scale(1)
    100%
        text-align: center

.dwanaim
    animation-duration: 4s 
    animation-name: kurg
@keyframes kurg 
    0% 
        margin-top: 900rem
        transition: 5s
    100%
        text-align: center
        margin-top: 0
section
    margin-top: 80rem
    background: linear-gradient(rgba(20,47,63,.82)), url(../img/sea-surfing-background.jpg), no-repeat
    background-size: cover
    padding: 80rem 0
h3, b
    max-width: 505rem
    font-size: 56rem
    letter-spacing: 2rem
    line-height: 66rem
    text-transform: uppercase
    color: #ffffff
    font-weight: 400
    font-family: "Rubik"
    @media screen and (min-width: 768px)
        margin: 0 auto
.firstBlock
    @media screen and (min-width: 768px)
        text-align: center
    @media screen and (min-width: 1000px)
        text-align: left
b
    color: #0099ff
    text-transform: lowercase
.black
    padding-top: 20rem
    width: 270rem
    text-align: left
    font-size: 16rem
    line-height: 24rem
    color: #ffffff
    font-weight: 400
    font-family: "Rubik"
    @media screen and (min-width: 425px)
        width: 396rem
    @media screen and (min-width: 768px)
        margin: 0 auto
    @media screen and (min-width: 1000px)
        margin: 0
.paragrafItaly
    width: 290rem
    font-size: 16rem
    text-align: center
    line-height: 25rem
    color: #ffffff
    margin: 0 auto
    font-weight: 400
    font-style: italic
    font-family: "Rubik"
    @media screen and (min-width: 440px)
        width: 423rem
.img
    background: url(../img/koma.svg), no-repeat
    min-height: 37rem
    width: 42rem
    margin: 30rem auto
.imgsec
    background: url(../img/photo-Oleg.svg), no-repeat
    min-height: 95rem
    width: 110rem
    margin: 10rem auto
.secondBlock
    margin-top: 100rem
    @media screen and (min-width: 1000px)
        margin-top: 0
.secondBlock:before
    @media screen and (min-width: 768px)
        content: ""
        position: absolute
        bottom: 40rem
        right: 465rem
        width: 15%
        height: 38%
        border-top: 1rem solid #fff
        border-left: 1rem solid #fff
        border-bottom: 1rem solid #fff
        opacity: .5
    @media screen and (min-width: 1000px)
        bottom: 0
        height: 78%
        right: 290rem
        top: 40rem
    @media screen and (min-width: 1360px)
        top: 40rem
        right: 465rem
        width: 15%
.secondBlock:after
    @media screen and (min-width: 768px)
        content: ""
        position: absolute
        bottom: 40rem
        right: 125rem
        width: 15%
        height: 38%
        border-top: 1rem solid #fff
        border-right: 1rem solid #fff
        border-bottom: 1rem solid #fff
        opacity: .5
    @media screen and (min-width: 1000px)
        bottom: 0
        height: 78%
        right: -10rem
        top: 40rem
    @media screen and (min-width: 1360px)
        top: 40rem
        right: 105rem
        width: 15%
        height: 78%
.display
    @media screen and (min-width: 1000px)
        display: flex
        align-items: center
        column-gap: 20rem
    @media screen and (min-width: 1360px)
        column-gap: 150rem
.name-clien
    margin-top: 30rem
.Name
    margin-bottom: 0
    font-size: 18rem
    line-height: 26rem
    color: #ffffff
    font-weight: 400
    font-family: "Rubik"
    text-align: center
.client
    font-size: 14rem
    line-height: 19rem
    color: #999999
    font-weight: 400
    font-family: "Rubik"
    text-align: center
.first-card-more
    margin: 80rem 0 40rem 0
    text-align: center
#dontP
    padding-top: 0
    width: 100%
.card-secondary
    margin: 50rem 0
    transition: 1s
.topTitleSec
    margin-left: 20rem
.price
    margin-left: 20rem
.yello-Style
    font-size: 13rem
    letter-spacing: 1rem
    text-transform: uppercase
    color: #ffb700
    font-weight: 400
    font-family: "Rubik"
    text-align: center
.flex
    display: flex
    column-gap: 10rem
    padding-top: 15rem
.flexX
    display: flex
    column-gap: 10rem
    align-items: center
#dontPw
    padding-top: 3rem
.orange-file
    width: 50rem
.align 
    align-items: center
    column-gap: 23rem
.topTitleThird
    font-size: 18rem
    line-height: 24rem
    color: #ffffff
    font-weight: 400
    font-family: "Rubik"
    width: 150rem
.card-trird 
    background: linear-gradient(rgba(20,47,63,.75),rgba(20,47,63,.75)),url(../img/more-information-house.jpg)
.mainThirdText
    text-align: left
    width: 230rem
    height: 82rem
    font-size: 13rem
    line-height: 19rem
    color: #fefefe
    font-weight: 400
    margin-bottom: 30rem
    font-family: "Rubik"
.fullCars
    padding-left: 20rem
.size
    font-size: 13rem
    line-height: 19rem
    color: #bbbbbb
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    padding-bottom: 20rem
    @media screen and (min-width: 375px)
        padding-right: 50rem
    @media screen and (min-width: 425px)
        padding-right: 60rem
    @media screen and (min-width: 1360px)
        padding-right: 0
.topTitleThird
    margin: 0
.hr-nop
    border-top: 1px solid #dfe3e6
    margin: 25rem 0 10rem 0
    width: 100%
    display: block
.card-trird     
    margin: 70rem 0
    height: 300rem
    min-width: 290rem
    @media screen and (min-width: 1360px)
        margin: 0
.second-block-with-cards
    @media screen and (min-width: 1360px)
        margin-top: 70rem
        display: flex
        column-gap: 50rem
.download
    font-size: 12rem
    letter-spacing: 0rem
    text-transform: uppercase
    color: #ffb700
    position: relative
    font-weight: 400
    padding: 10rem 30rem 10rem 45rem
    font-family: "Rubik"
    text-align: center
    text-decoration: none
    border: 2px solid #ffb700
    border-radius: 20rem
    margin-bottom: 30rem
.download:before
    content: ""
    position: absolute
    width: 19rem
    height: 20rem
    left: 20rem
    background-image: url(../img/cloud.svg)
.download:hover
    text-decoration: underline
.two-cards
    @media screen and (min-width: 1360px)
        display: flex
        column-gap: 50rem
.annaCard
    text-align: center
    @media screen and (min-width: 1360px)
        width: 350rem
.annaCard:before
    @media screen and (min-width: 768px)
        content: ""
        position: absolute
        bottom: 35rem
        left: 0
        width: 20%
        height: 8.5%
        border-top: 1rem solid #ffb700
        border-left: 1rem solid #ffb700
        border-bottom: 1rem solid #ffb700
    @media screen and (min-width: 1360px)
        bottom: 41rem
        left: 950rem
        width: 5%
        height: 27%
.annaCard:after
    @media screen and (min-width: 768px)
        content: ""
        position: absolute
        bottom: 35rem
        right: 0
        width: 20%
        height: 8.5%
        border-top: 1rem solid #ffb700
        border-right: 1rem solid #ffb700
        border-bottom: 1rem solid #ffb700
    @media screen and (min-width: 1360px)
        bottom: 41rem
        right: 0
        width: 5%
        height: 27%
h5
    font-size: 18rem
    letter-spacing: 1rem
    line-height: 5rem
    display: inline-block
    color: #333333
    font-weight: 400
    font-family: "Rubik"
.paragrafCenter
    width: 170rem
    font-size: 13rem
    line-height: 16rem
    color: #999999
    font-weight: 400
    font-family: "Rubik"
    margin: 0 auto
    padding: 25rem 0
#ntn
    color: #333333
.imgthird
    background: url(../img/woman.svg), no-repeat
    min-height: 95rem
    width: 110rem
    margin: 10rem auto
.tel
    font-size: 18rem
    line-height: 26rem
    color: #0099ff
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    text-decoration: none
.tel:hover
    text-decoration: underline
.ower
    font-size: 36rem
    letter-spacing: 1rem
    width: 225rem
    margin-top: 0
    line-height: 40rem
    text-transform: uppercase
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    margin: 0 auto
    padding-top: 50rem
    @media screen and (min-width: 1360px)
        margin: 0
        padding-top: 0
.bg-palm 
    border-top: 50rem solid #f4f7f9
    min-height: 500rem
    background: url(../img/footer.jpg) center
    background-size: cover
    background-repeat: no-repeat
h6
    font-size: 13rem
    line-height: 19rem
    color: #ffffff
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    background-color: #1a1a1a
    padding: 15rem 0