doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="css/style.css")
        title Туристична Компанія SEA TRIPS - Спіймай Хвилю Живи Яскраво!
    body 
        header 
            .wrapper 
                .container
                    .logo 
                        a(href="#") 
                            img(src="img/logo.svg", alt="logo company SeaStrips")
                    .burger 
                        span
                    .nav
                        nav
                            ul.menu 
                                li
                                    a(href="#") Головна  
                                li
                                    a(href="#") послуги
                                li
                                    a(href="#") про компанію
                                li
                                    a(href="#") Акції
                                li
                                    a(href="#") Партнери
                                li
                                    a(href="#") відгуки
                                li
                                    a(href="#") Контакти                            
        main 
            .wrapper 

        footer
            .wrapper 



        script(src="js/script.js")