doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="css/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet")

        title Туристична Компанія SEA TRIPS - Спіймай Хвилю Живи Яскраво!
    body 
        header 
            .wrapper 
                .container
                    .logo 
                        a(href="#") 
                            img(src="img/logo.svg", alt="logo company SeaStrips")
                    .burger 
                        span
                    .nav
                        nav
                            ul.menu 
                                li
                                    a(href="#") Головна  
                                li
                                    a(href="#") послуги
                                li
                                    a(href="#") про компанію
                                li
                                    a(href="#") Акції
                                li
                                    a(href="#") Партнери
                                li
                                    a(href="#") відгуки
                                li
                                    a(href="#") Контакти 
                .top  
                    h1 Морські пригоди
                    p Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
                    button.headerButton детальніше  
                p.od обери свій 
                p.od план подорожі
                p.dr Наша фірма -лідер на ринку у своїй сфері
                .slider 
                    a(href="#scroll")
                        span.slider-bg
        main    
            .wrapper 
                .scroll(id="scroll")
        footer
            .wrapper 



        script(src="js/script.js")