doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="css/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet")
        title Туристична Компанія SEA TRIPS - Спіймай Хвилю Живи Яскраво!
    body 
        include components/mixin
        header 
            .wrapper 
                .container
                    .logo 
                        a(href="#") 
                            img(src="img/logo.svg", alt="logo company SeaStrips")
                    .burger 
                        span
                    .nav
                        nav
                            ul.menu 
                                li
                                    a(href="#") Головна  
                                li
                                    a(href="#") послуги
                                li
                                    a(href="#") про компанію
                                li
                                    a(href="#") Акції
                                li
                                    a(href="#") Партнери
                                li
                                    a(href="#") відгуки
                                li
                                    a(href="#") Контакти 
                .top  
                    h1 Морські пригоди
                    p Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
                    button.headerButton детальніше  
                p.od обери свій 
                p.od план подорожі
                p.dr Наша фірма -лідер на ринку у своїй сфері
                .slider 
                    a(href="#scroll")
                        span.slider-bg
        main    
            .wrapper 
                .scroll(id="scroll")
                .oba 
                    .first-card 
                        p.p про нашу
                        p.pp компанію
                        p.ppp Наша компанія пропонує ряд
                        p.ppp цікавих-розважальних послуг, 
                        p.ppp які принесуть вам ряд вражень!
                        button.headerButton детальніше 
                        p.h(id="toph") * - зверніть увагу, зміна ціни може
                        p.h залежати від курсу долара.
                    .other-card 
                        +card(cardsInfo.veloIcon)
                        +card(cardsInfo.circle)
                        +card(cardsInfo.think)
                .help
                    a(href="#").lastTitle Дивитись усі плани &#169;
                span.hr
                .oboe 
                    .imgbg 
                    .right-l 
                        h2.E Дивовижний безлюдний острів, який
                        h2 зводить людей з розуму
                        p.f Пхукет - курортно-туристична Мекка Таїланду.
                        p.f Білосніжний пісок, і бірюзове море, і мальовничі скелі, а на
                        p.f них же, трохи вище - буйна тропічна рослинність. Все це
                        p.f можна побачити на власні очі.
                        .button 
                            button 
                            button 
                        .mini-card-j 
                            h2 
                            p 
        footer
            .wrapper 



        script(src="js/script.js")