doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="css/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet")
        title Туристична Компанія SEA TRIPS - Спіймай Хвилю Живи Яскраво!
    body 
        include components/mixin
        header 
            canvas
            .wrapper 
                .container
                    .logo 
                        a(href="#") 
                            img(src="img/logo.svg", alt="logo company SeaStrips")
                    .burger 
                        span
                    .nav
                        nav
                            ul.menu 
                                li
                                    a(href="#") Головна  
                                li
                                    a(href="#") послуги
                                li
                                    a(href="#") про компанію
                                li
                                    a(href="#") Акції
                                li
                                    a(href="#") Партнери
                                li
                                    a(href="#") відгуки
                                li
                                    a(href="#") Контакти 
                .top  
                    h1.niam Морські пригоди
                    p.italic.dwanaim Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!  
                    a(href="#").headerButton детальніше  
                p.od обери свій 
                p.od план подорожі
                p.dr Наша фірма -лідер на ринку у своїй сфері
                .slider 
                    a(href="#scroll")
                        span.slider-bg
        main    
            .wrapper 
                .scroll(id="scroll")
                .oba 
                    .first-card 
                        p.p про нашу
                        p.pp компанію
                        p.ppp Наша компанія пропонує ряд
                        p.ppp цікавих-розважальних послуг, 
                        p.ppp які принесуть вам ряд вражень!
                        button.headerButton детальніше 
                        p.h(id="toph") * - зверніть увагу, зміна ціни може
                        p.h залежати від курсу долара.
                    .bym
                        .other-card 
                            +card(cardsInfo.veloIcon)
                            +card(cardsInfo.circle)
                            +card(cardsInfo.think)
                        .help
                            a(href="#").lastTitle Дивитись усі плани 
                            img(src="img/znachok-2.jpg", alt="znachok")
                span.hr
                .oboe 
                    .imgbg 
                    .right-l 
                        h2.stel Дивовижний безлюдний острів, який зводить людей з розуму
                        .xbor
                            .one-more
                                p.main-title-all Пхукет - курортно-туристична Мекка Таїланду. Білосніжний пісок, і бірюзове море, і мальовничі скелі, а на них же, трохи вище - буйна тропічна рослинність. Все це можна побачити на власні очі.
                                .button 
                                    button.headerButton замовити тур
                                    button(id="trap").headerButton детальніше
                            .two-more       
                                .mini-card-silver
                                    h2.groshi 575 грн./день
                                    p.sup-title-grosh В дану вартість входить обслуговування персоналу, вечеря і захоплюючі історії.
            section
                .wrapper
                    .display 
                        .firstBlock
                            h3 СПІЙМАЙ ХВИЛЮ 
                                b ЖИВИ ЯСКРАВО!
                            p.black Полюбляєш екстрим та пригоди? Тоді тобі точно до нас! Мрієш стати на сапборд, але ніяк не міг наважитсь? Наші досвдчені інструктори навчать тебе вміло «піймати хвилі» та відчути себе справжнім сьорфером!
                            a(href="#").headerButton детальніше
                        .secondBlock
                            .img
                                span.koma 
                            p.paragrafItaly Чудова туристична фірма, що повністю виправдала мої очікування від подорожі. Я був приємно вражений екскурсіями, що для мене підібрали, працюють спражні професіонали своєї справи. 
                            .name-clien
                                p.Name Олег Набережний
                                p.client клієнт
                            .imgsec
                                span.Oleg 
            .oba 
                .wrapper.io
                    .first-card-more 
                        p.p(id="center") Спеціальні пропозиції тижня
                        p.ppp(id="center") Гарячі праозиції, по-швидше обирай і поїхали! 
                    .other-card 
                        +cards(secondcardsInfo.romantick)
                        +cards(secondcardsInfo.bikeTrip)
                        +cards(secondcardsInfo.serfing)
                        +cards(secondcardsInfo.island)
                    span.hr-nop
                    .second-block-with-cards 
                        h2.ower додаткова інформація
                        .two-cards 
                            +LastCardss(thirdCardsInfo.grafik)
                            +LastCardss(thirdCardsInfo.information)
                        .annaCard 
                            h5 задати питання
                            p.paragrafCenter Скажіть доброго дня нашому консультанту, і ми з радістю відповімо на Ваші запитання
                            a(href="#").tel +38 (050) 56 98 511 
                            .name-clien
                                p.Name(id="ntn") Анна Миколаївна
                                p.client консультант
                            .imgthird
        footer              
            .bg-palm 
            h6 © 2016 Cars.com All rights reserved.


        script(src="js/script.js")